@use '../../../../assets/scss/variables/color-variables.scss' as colors;
.check-container {
  background-color: colors.$white;
  border-radius: 8px;
  margin-bottom: 0.25rem;
}

.check-section {
  display: flex;
  flex-wrap: wrap;
}

.check-text h4 {
  font-size: 1.25rem;
}

.check-text p {
  font-size: 0.75rem;
  line-height: 1.6;
}

.logo-img {
  max-height: 80px;
  object-fit: contain;
}

.w-85{
    width: 85%;
}

.w-15{
    width: 15%;
}

.contact-card {
  color: colors.$gray-60;
  position: relative;
}

.info-row {
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
  gap: 10px;
  position: relative;
}

.icon {
  color: #888;
  margin-top: 3px;
}

.email-link {
  color: colors.$gray-60;
  text-decoration: none;
  cursor: pointer;
}

.email-link:hover {
  text-decoration: underline;
}

.copy-icon,
.edit-icon {
  color: colors.$primary-light-blue;
  cursor: pointer;
  margin-left: 8px;
  font-size: 14px;
}

.address-text {
  flex: 1;
  white-space: pre-line;
}

.custom-tab-header{
  max-height: calc(100vh - 290px);
  overflow: auto;
}

.custom-max-height{
  max-height: 150px
}

.custom-max-width{
  max-width: 180px
}

/* accordion.component.css */
.accordion-card {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 10px;
  // background-color: #f9f9f9;
  width: 100%;
}

.accordian-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.expand-link {
  color: colors.$primary-purple;
  cursor: pointer;
  font-weight: bold;
  font-size: 13px;
}

.details {
  margin-top: 12px;
  font-size: 13px;
  line-height: 1.6;
  background-color: #fff;
  padding: 10px;
  border-radius: 4px;
  color: #1A1A1A;
  .label{
    color: #4D4D4D;
  } 
}

.hr-dark-text{
  color: #333333;
}

.custom-text-size15{
  font-size: 15px;
}

.custom-tab-block {
  flex: 1 1 auto;
  max-height: calc(100vh - 347px);
  overflow: auto;
}


