<!-- Fixed Header with Labels & Filters -->
<div class="cdk-table-wrapper">
  <table cdk-table [dataSource]="dataSource" class="cdk-table" aria-label="Dynamic data table with sortable headers, filters and action buttons">

    <!-- Header & Cell Columns -->
    <ng-container *ngFor="let column of displayedColumns" [cdkColumnDef]="column">
      <!-- Header Label -->
      <th cdk-header-cell *cdkHeaderCellDef (click)="sortBy(column)">
        {{ column | titlecase }}
        <fa-icon class="ms-2 text-muted htc-font-size-10" [icon]="
              sortColumn() === column
                ? sortDirection() === 'asc'
                  ? faSortUp
                  : faSortDown
                : faSort
            ">
        </fa-icon>
      </th>

      <!-- Body Cell -->
      <td cdk-cell *cdkCellDef="let row; let i = index">
        <app-overflow-tooltip [text]="row[column]"></app-overflow-tooltip>
      </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container *ngIf="actions.length > 0" cdkColumnDef="action">
      <th cdk-header-cell *cdkHeaderCellDef>Actions</th>
      <td cdk-cell *cdkCellDef="let row">
        <button *ngFor="let action of actions" class="btn btn-link p-0 me-2"
          [ngClass]="action === 'remove' ? 'text-danger' : 'text-primary'" (click)="actionClicked.emit({ action, row })"
          style="pointer-events: auto;">
          <fa-icon [icon]="getIconForAction(action)"></fa-icon>
        </button>
      </td>
    </ng-container>

    <!-- Filter Row -->
    <ng-container *ngFor="let column of displayedColumns" [cdkColumnDef]="column + 'Filter'">
      <th cdk-header-cell *cdkHeaderCellDef>
        <div class="filter-input-wrapper">
          <ng-container *ngIf="filterControls[column]">
            <input class="custom-header-filter" [formControl]="filterControls[column]"
              [placeholder]="column | titlecase" />
            <fa-icon *ngIf="filterControls[column].value" [icon]="faTimes" class="clear-icon"
              (click)="filterControls[column].setValue('')"></fa-icon>
          </ng-container>
        </div>
      </th>
    </ng-container>
    <ng-container *ngIf="actions.length > 0" cdkColumnDef="actionFilter">
      <th cdk-header-cell *cdkHeaderCellDef>
        <div class="filter-placeholder"></div>
      </th>
    </ng-container>

    <!-- Header Rows -->
    <tr cdk-header-row *cdkHeaderRowDef="headerLabelColumns; sticky: true" class="cdk-table-header-row"></tr>
    <tr cdk-header-row *cdkHeaderRowDef="headerFilterColumns; sticky: true" class="filter-row"></tr>

    <!-- Data Rows -->
    <tr cdk-row *cdkRowDef="let row; columns: displayedColumns.concat(actions.length ? ['action'] : [])"></tr>

  </table>
</div>