<div class="container-fluid appContainer px-0">

    <div class="row gx-0">

        <!-- Right Section -->
        <div class="col overflow-hidden d-flex flex-column min-vh-100">

            <!-- Main Content -->
            <main class="flex-grow-1 overflow-auto">
                <div class="card border-0 userlist-container w-100 h-100 overflow-auto p-3"
                    style="background-color: #EBEBEB;">
                    <router-outlet></router-outlet>
                </div>
            </main>

            <!-- Footer -->
            <app-footer></app-footer>

        </div>
    </div>
</div>