.hr-profileBlock{
    width: 120px;
  }

  .hr-grey-text{
    color:#686F73
  }
  
  .teal-text {
	color: teal;
  }

  .hr-dark-text{
    color: #333333;
  }

  .hr-grey-bg-color{
    background-color: #E8E8E8;
  }

  .hr-w-150{
    width: 150px;
  }

  ::ng-deep .custom-warning-icon {
    border-color: #B80009 !important;
    color: #B80009 !important;
  }