/* Primary Colors */
$primary-dark-blue: #0073b7;
$primary-light-blue: #00bcd4;
$primary-teal: rgba(0, 164, 173, 1);
$primary-purple: #8D8FDF;
$primary-sky-blue: #89dff3;
$primary-pale-blue: #c4edf6;



/* Neutral (Grayscale) */
$gray-light: #e0e0e0;
$gray-lighter: #f0f0f0;
$white-soft: #fafafa;
$white: #ffffff;
$black: #000000;

/* Dark Shades */
$dark-gray: #333;
$black-soft: #212121;
$gray-60 : #666666;